<%- include('./includes/header') %>

<div class="main">
    <h2>All Blogs</h2>
    <table>
        <tr>
            <td>#</td>
            <td>Title</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
        <tbody>
            <tr>
                <td>1</td>
                <td>Entertainment</td>
                <td>Lorem, ipsum dolor...</td>
                <td>
                    <div class="btn-group">
                        <a href="">Show</a>
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('./includes/footer') %>