<%- include('./includes/header') %>

<div class="main">
    <h2>Change Password</h2>
    <form action="">
        <div class="form-group">
            <label for="name">Old Password</label>:</label>
            <input type="text" name="old_password" placeholder="Enter your old Password">
        </div>

        <div class="form-group">
            <label for="name">New Password</label>:</label>
            <input type="text" name="new_password" placeholder="Enter your new password">
        </div>

        <div class="form-group">
            <label for="name">Confirm New Password</label>:</label>
            <input type="text" name="confirm_password" placeholder="Enter your password again">
        </div>


        <input type="submit" value="Add Category">
    </form>
</div>

<%- include('./includes/footer') %>