<%- include('./includes/header') %>

<div class="main">
    <h2>Edit Categories</h2>
    <form action="/editCategory" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="hidden" name="category_id" value="<%= typeof category_id != 'undefined' ? category_id : '' %>">
            <input type="text" name="category_name" id="name" value="<%= typeof category_name != 'undefined' ? category_name : '' %>">
        </div>

        <input type="submit" value="Edit Category">
    </form>
</div>

<%- include('./includes/footer') %>