<%- include('./includes/header') %>

<div class="main">
    <h2>Edit Blog</h2>
    <form action="">
        <div class="form-group">
            <label for="name">Title:</label>
            <input type="text" name="title" id="">
        </div>

        <div class="form-group">
            <label for="name">Description:</label>
            <textarea name="description" id=""></textarea>
        </div>

        <select name="category" id="">
            <option value="1">Entertainment</option>
            <option value="2">Sports</option>
        </select>

        <input type="submit" value="Add Category">
    </form>
</div>

<%- include('./includes/footer') %>