<%- include('./includes/header') %>

<div class="main">
    <h2>Edit Categories</h2>
    <form action="">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="category_name" id="">
        </div>

        <input type="submit" value="Add Category">
    </form>
</div>

<%- include('./includes/footer') %>